$border1: 1px solid rgba(255, 255, 255, 0.438);
$box-shadow1: inset -10px -5px 20px 8px rgba($color: #fff, $alpha: .4);
$box-shadow2: 0 0 5px 4px rgba($color: #fff, $alpha: .9);
$color1: rgba(22, 22, 22, 0.829);
$color2: rgba(255, 255, 255, 1);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    width: 8%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: $border1;
    color: $color1;
    box-shadow: $box-shadow1;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        background-color: $color2;
        box-shadow: $box-shadow2;
        height: 8%;
        aspect-ratio: 1;
        border-radius: 50%;
        top: 25%;
        left: 25%;
    }
}