* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

input {
    display: none;

    &:checked ~ label::before {
        opacity: 1;
    }
}

label {
    position: relative;
    font-size: 130px;
    color: #FFD700;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '\2605';
        color: #FFD700;
        opacity: 0;
    }

    &:hover::before,
    &:hover ~ &::before {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    label {
        font-size: 80px;
    }
}

@media screen and (max-width: 350px) {
    label {
        font-size: 50px;
    }
}